
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --azul-escuro: #000814;
  --azul-n2: #004E98;
  --azul-n1: #3A6EA5;
  --cinza: #EBEBEB;
  --branco: #FFFFFF;
  --preto: #000000;
  --laranja: #FF6700;
  --fonte-principal: 'Montserrat';
}

/* ===== RESET BÁSICO ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--fonte-principal);
  background-color: #ffffff;
  height: 100vh;
  overflow-x: hidden;



} /* ===== CABEÇALHO ===== */
.header {
  background-color: #000814; /* azul bem escuro */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
  position: relative;
  z-index: 2;
}
.header .content {
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo img {
  width: 200px;
}
.content select {
  border: none;
  color: #333;
  font-size: 15px;
  cursor: pointer;
  background: none;
  color: #fff;
}
.content option {
  background-color: #ffffff;
  color: #111827;
  font-size: 15px;
  padding: 10px;
}
.user {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user img {
  width: 50px;
}



/* ===== CONTEÚDO PRINCIPAL ===== */
.main {
  display: flex;
  flex-direction: row;
  height: 87vh;
  width: 100%;

}

.welcome-text {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 30px;
  position: absolute;
  left: 40%;
  
  }


/* ===== CARDS ===== */
.cards-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: var(--branco);
}

.botão-modal-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  width: 100%;
}

.cards-grafico-1{
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards-grafico-2-1{
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.botoes-modal{
  height: 50px;
  width: 170px;
  background-color: var(--azul-n1);
  color: var(--branco);
  font-family: var(--fonte-principal);
  border-radius: 5px;
  border: 1px solid var(--azul-n1);
  transition: 0.4s;
  cursor: pointer;
  

}

.botoes-modal:hover{
  background-color: var(--laranja);
  color: var(--azul-escuro);
  
  transition: 2.0;

}

/* ----------------------------------------- */


.contain-2 {
  padding: 1%;
  display: flex;
  flex-direction: column ;
  width: 50%;
  background-color: rgb(255, 255, 255);
  height: 100%;
  
} 

.contain-parte-cima{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.contain-parte-baixo{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
}



.card {
  width: 200px;
  height: 80px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: #000;
  text-decoration-line: none;
  font-size: 13px;
  padding: 30px;
}



.card .subtitulo {
  margin-top: 10px;
  font-size: 15px;
}

.card-bar1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: var(--azul-escuro);
}

.card-bar2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: #36A2EB;
}

.card-bar3 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: #FFCD56;
}


.card-bar4 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: #FF6384;
}

.card-bar5 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: #87ff63;
}


.divisao-pt1,
.divisao-pt2{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}





/* ===== CONTAINER DA TABELA COM SCROLL ===== */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-conteudo {
  width: 95%;
  height: 90vh;
  background: white;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tabela-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.tabela-scroll thead tr {
  position: sticky;
  top: 0;
  background-color: #000814;
  color: #fff;
  z-index: 1;
}

/* ------ */

table {
  border-collapse: collapse;
  width: 700px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
th,
td {
  padding: 5px 10px;
  text-align: left;
}
thead {
  background-color: #4a90e2;
  color: #ffffff;
}
tbody tr {
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s;
}
tbody tr:hover {
  background-color: #f0f8ff;
}
tbody tr:nth-child(even) {
  background-color: #fafafa;
}





/* ===== GRÁFICO ===== */
#meuGraficoPie {
    width: 300px !important;
    height: 300px !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    
}

#meuGraficoBarra2{
    height: 240px !important;
}























/* ====== MODAL TABELA VOOS ========= */


.fechar {
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  color: var(--laranja);
  cursor: pointer;
}

#modal2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: left;
    z-index: 9999;
}

/* Conteúdo FULLSCREEN */
#modal2 .modal-tabela-conteudo {
    width: 90vw;
    height: 90vh;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

#modal2 .fechar {
    position: absolute;
    top: 8px;
    right: 18px;
    font-size: 28px;
    cursor: pointer;
    font-weight: bold;
    z-index: 999;
}

/* Área scroll */
#modal2 .tabela-scroll {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    height: 100%;
}

/* Tabela */
#modal2 table {
    width: 100%;

}

/* TH ajustado */
#modal2 th {
    white-space: normal;
    word-break: keep-all;
    text-align: center;
    padding: 10px;
}


