@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --azul-escuro: #000814;
  --azul-n2: #004E98;
  --azul-n1: #3A6EA5;
  --cinza: #EBEBEB;
  --branco: #FFFFFF;
  --preto: #000000;
  --laranja: #FF6700;
  --red: #dd4444;
  --fonte-principal: 'Montserrat';
}

/* ===== RESET BÁSICO ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  background-color: #ffffff;
  height: 100vh;
  overflow-x: hidden;



}

/* ===== CABEÇALHO ===== */

.full-body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* ---- LADO ESQUERDO ------------------------------ */

.left-header {
  height: 100%;
  width: 15%;
  background-color: var(--azul-escuro);
  display: flex;
  flex-direction: column;

}

.content {
  height: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  color: white;
}

.content2 {
  padding: 10%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;

}

.logo {
  width: 200px;
}

h2 {
  font-size: 20px;
  color: white;
}

.botao-sair {
  width: 150px;
  height: 50px;
  font-family: var(--fonte-principal);
  font-size: larger;
  cursor: pointer;
  border: solid 1px white;
  transition: 0.4s;
}

.botao-sair:hover {
  background-color: #FF6700;
  border: solid 1px #FF6700;

}


/* ---------------- Meio -------------------------------- */
.middle {
  height: 100%;
  width: 45%;
  background-color: white;
}

.texto-box {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.graficos-box {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.botoes-modal{
  background-color: #000814;
  color: #FFFFFF;
  border: solid 1px var(--azul-escuro);
  font-size: medium;
  font-family: var(--fonte-principal);
  height: 30px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.botoes-modal:hover {
  background-color: #FF6700;
  border: solid 1px #FF6700;

}

.cards-grafico-1 {
  width: 80%;
  display: flex;
  justify-content: center;
}

.cards-grafico-2-1 {
  width: 80%;
  display: flex;
  justify-content: center;
}








/* ---------------- last ----------------------- */

.last {
  height: 100%;
  width: 45%;
  background-color: rgb(255, 255, 255);
  padding: 1%;
}

.capa{
  border: solid 2px var(--azul-escuro);
  height: 100%;
  width: 100%;
  padding: 1%;
  border-radius: 10px;
}

.contain-parte-cima{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.contain-parte-baixo{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  height: 80px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  color: #000;
  text-decoration-line: none;
  font-size: 13px;
  padding: 30px;
}


.card-bar1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: var(--azul-escuro );
}

.card-bar2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: #4eb64e;
}

.card-bar4 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: var(--red);
}

.card-bar5 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20px;
  background-color: var(--laranja);
}

.divisao-pt0{
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.divisao-pt1,
.divisao-pt2{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}






















/* ===== CONTAINER DA TABELA COM SCROLL ===== */
.modal {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.modal-conteudo {
  width: 95%;
  height: 90vh;
  background: white;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tabela-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.tabela-scroll thead tr {
  position: sticky;
  top: 0;
  background-color: #000814;
  color: #fff;
  z-index: 1;
}

/* ------ */

table {
  border-collapse: collapse;
  width: 700px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

th,
td {
  padding: 5px 10px;
  text-align: left;
}

thead {
  background-color: #4a90e2;
  color: #ffffff;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s;
}

tbody tr:hover {
  background-color: #f0f8ff;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}





/* ===== GRÁFICO ===== */
#meuGraficoPie {
  width: 325px !important;
  height: 325px !important;


}

#meuGraficoBarra2 {
  height: 240px !important;
}























/* ====== MODAL TABELA VOOS ========= */


.fechar {
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  color: var(--laranja);
  cursor: pointer;
}

#modal2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Conteúdo FULLSCREEN */
#modal2 .modal-tabela-conteudo {
  width: 90vw;
  height: 90vh;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

#modal2 .fechar {
  position: absolute;
  top: 8px;
  right: 18px;
  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  z-index: 999;
}

/* Área scroll */
#modal2 .tabela-scroll {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

/* Tabela */
#modal2 table {
  width: 100%;

}

/* TH ajustado */
#modal2 th {
  white-space: normal;
  word-break: keep-all;
  text-align: center;
  padding: 10px;
}










/* ---------------- modal 3 ---------------- */


#modal3 {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.55);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Conteúdo FULLSCREEN */
#modal3 .modal-tabela-conteudo {
  width: 90vw;
  height: 90vh;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  top: 5%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

#modal3 .fechar {
  position: absolute;
  top: 8px;
  right: 18px;
  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  z-index: 999;
}

/* Área scroll */
#modal3 .tabela-scroll {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

/* Tabela */
#modal3 table {
  width: 100%;

}

/* TH ajustado */
#modal3 th {
  white-space: normal;
  word-break: keep-all;
  text-align: center;
  padding: 10px;
}

#modal3 .tabela-scroll thead tr {
  position: sticky;
  top: 0;
  background-color: var(--azul-n2);
  color: #fff;
  z-index: 1;
}

#modal3 table td:nth-child(2),
#modal3 table th:nth-child(2) {
  text-align: left !important;
}