@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: var(--fonte-principal);
}

:root {
    --azul-escuro: #000814;
    --azul-n2: #004E98;
    --azul-n1: #3A6EA5;
    --cinza: #EBEBEB;
    --branco: #FFFFFF;
    --preto: #000000;
    --laranja: #FF6700;
    --fonte-principal: 'Montserrat';
}

header {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

a{
    text-decoration: none;
}

.logo-header {
    /* width: 15%; */
    width: 200px;

}

.botao-header {
    display: flex;
    flex-direction: row;
    background-color: var(--azul-escuro);
    padding: 8px;
    color: var(--branco);
    border: #FFFFFF solid 2px;
    width: 125px;
    justify-content: space-around;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;

}

.botao-header:hover {
    color: #000814;
    background-color: var(--branco);
}

header p {
    font-size: 20px;
}

.login {
    display: flex;
    justify-self: start;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
}

.login .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 50vw;
    border: 2px solid black;
}

#loading-gif{
    display: none;
}